#Category{
    height: 140vh;
    width: 100vw;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    /* border: 2px solid purple; */
}
.CategoryBlock{
    margin-left: -4rem;
    width: 90%;
    height: 80%;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    border: 2px rgb(53, 210, 165) solid;
}
.CategoryBlock-h1{
    margin-top: 2rem;
    height: 8vh;
    margin-left: 3rem;
    text-decoration: underline;
    /* border: 2px rgb(194, 235, 46) solid; */
    background-image: linear-gradient(0deg, #ccf9f1 0.5%,  #ffffff 109%);
}
.catcard-div{
    display: flex;
    justify-content: start;
    margin-left: 8rem;
    margin-top: 1.5rem;
    width: 38%;
    height: 50%;
    /* border: 2px solid tan; */
}
.imgcatcard{
    border: 2px solid #49a392;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

}
.catcard-img-top{
    height: 15rem;
}
.bookService{
    margin-top: 2rem;
    margin-left: 15rem;
    font-size: 1.2rem;
    padding: 0.7rem  0.5rem;
    border: 2px rgb(53, 210, 165) solid;
    border-radius: 0.9rem;
    cursor: pointer;
    height: 3.5rem;
    box-shadow: 0 0 4px rgb(53, 210, 165);
    background-color:rgb(206, 247, 234);
}
.bookService:active{
    box-shadow: 0 0 0px rgb(53, 210, 165);
}


.BookNowDiv{
    border: 2px solid black;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 100;
    background-color: white;
    border-radius: 1rem;
    height: 75%;
    width: 60%;
}
.dropdownPlace{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cala{
    width: 9rem;
}
.confirm-add{
    margin-top: -0.5rem;
    /* border: 2px solid red; */
    height: 60%;
}
.Editde{
    height: 1.5rem;
    position: absolute;
    right: 10rem;
}
.bookService-next{
    position: relative;
    bottom: 4rem;
    /* color: black; */
    height: 3rem;
    display: flex;
    align-items: center;
}
.bookService-nextt{
    position: relative;
    left: 12rem;
    top: -3.8rem;
    color: rgb(5, 186, 135);
}
.BookNowNext{
    width: 40% !important;
}
.aarrow-doleft{
    position: relative;
    top: 1px;
    rotate: 270deg !important;
}
.finalBookHeading{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 18%;
}
.finalbookdes{
    display: flex;
    /* border: 2px solid rgb(222, 180, 14); */
    width: 100%;
    padding-left: 1rem;
}
.includeonly{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 0.8rem;
    width: 100%;
    height: 15%;
    margin-bottom: 1rem;
}
.CategoryBlockSummary{
    position: relative;
    height: 85%;
    width: 100%;
    left: 2.5rem;
    bottom: 3rem;
}
.wiallsum{
    width: 95%;
    /* border: 2px solid red; */
    line-height: 2rem;
    display: flex;
    justify-content: space-between;
}
.wiallsumlasts{
    border-bottom: 1.5px solid black;
    margin-bottom: 0.5rem;
}

.allSumary{
/* margin-top: -2rem; */
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}


.service_final{
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    height: 40vh;
    width:57%;
    /* border: 2px solid red; */
    margin-top: -22rem;
}
.chooseTile{
    text-decoration: underline;
    font-size: 1.4rem;
    margin-left: 2.5rem;
}
.service_final_block{
    /* border: 2px solid rgb(103, 17, 183); */
    width: 100%;
}
.ser1_lab{
    border: 2px solid yellow;
}
.radioC{
    margin-left: 3rem;
}
table, th, td{
    border:1px solid black;
}
th{
    padding: 0.5rem 2rem;
}
.Srevice{
    padding: 0.5rem 8rem;
}
.price_Range{
    
    padding: 0.5rem 3.5rem;
}
.table_data{
    padding:  0.5rem;
}
.service_table{
    margin-left: 2.5rem;
    width: 93%;
    margin-top: 2rem;
    /* border: 2px solid red; */
}

.operate{
    /* margin-bottom: 3rem; */
    position: relative;
    /* top: 8rem; */
}
.rand_proce{
    border: 1px solid black;
    height: 3rem;
    width: 11.1rem;
    margin-top: 1px;
    margin-left: 93px;
}

@media (max-width: 430px){
    .CategoryBlock{
        margin-left: -0.1rem;
        height: 85%;
    }
    .CategoryBlock-h1{
        margin-top: 2rem;
        height: 4vh;
        font-size: 1.3rem ;
        margin-left: 2rem;
    }
    .catcard-div{
        margin-left: 1.2rem;
        margin-top: -13rem;
        width: 90%;
        height: 35%;
        /* border: 2px solid tan; */
    }
    .chooseTile{
        text-decoration: underline;
        font-size: 1.4rem;
        margin-left: 2rem;
        display: flex;
        justify-content: center;
        margin-top: 10rem;
        width: 100%;
        /* border: 2px solid red; */
    }
    .service_final{
        display: flex;
        /* justify-content: center; */
        flex-wrap: wrap;
        height: 40vh;
        width:100%;
        /* border: 2px solid red; */
        margin-top: -22rem;
    }
   
    .service_table{
        margin-left: 0.5rem;
        width: 93%;
        margin-top: 2rem;
        /* border: 2px solid red; */
    }
    th{
        padding: 0.5rem 0.8rem;
    }
    .Srevice{
        padding: 0.5rem 3rem;
    }
    .price_Range{
    
        padding: 0.5rem 2.7rem;
    }
    .radioC{
        margin-left: 1.5rem;
    }
    .bookService{
        margin-top: 1rem;
        margin-left: 5.5rem;
        font-size: 1.2rem;
        padding: 0.7rem  0.5rem;
        border: 2px rgb(53, 210, 165) solid;
        border-radius: 0.9rem;
        cursor: pointer;
        height: 3.5rem;
        box-shadow: 0 0 4px rgb(53, 210, 165);
        background-color:rgb(206, 247, 234);
    }
    .rand_proce{
        border: 1px solid black;
        height: 3rem;
        width: 8.5rem;
        margin-top: 5px;
        margin-left: 13px;
    }
}
